<!DOCTYPE html>
<html lang="fr">
<head>
     <link rel="stylesheet" href="../static/style_visuel_page.css">
</head>
<header>
     <div class="banniere"> 
          <img src="../static/images/logo.jpg" alt="Ecole Normale Supérieure">
          <h1>Création de graphique sur les annuelle sur "l'état de l'enseignement supérieur et de la recherche en France"</h1>
     </div>
</header>

<nav>
     <div class="navigation">
          <div class="case">
               <a href="./page_accueil.html">
                    Lien vers la page d'accueil
               </a>
          </div>
          <div class="case">
               <a href="./page_affichage_graphique.html">
                    Lien vers la page d'affichage graphique
               </a>
          </div>
     </div>
</nav>

<main>

     <div class="section">
          <h2> Motivation du projet </h2>

          <div class="content">
               L'idée initiale était d'analyser l'évolution des résultats annuels de l'enquête "L'état de l'enseignement supérieur et de la recherche en France". Ces rapports, publiés chaque année, sont particulièrement riches en informations, rendant leur interprétation et leur comparaison sur plusieurs années complexes. C'est pourquoi nous avons conçu un site internet permettant de visualiser ces données sous forme de graphiques interactifs, facilitant ainsi l'exploration et la mise en perspective des différentes enquêtes au fil du temps.
          </div>
     </div>
     
     <div class="section">
          <h2> Idée de l'utilisation du site </h2>
          <div class="content">
               L'objectif principal est d'illustrer l'évolution d'une donnée au fil des années, notamment à l'aide de courbes ou d'histogrammes.

               Une évolution possible du projet serait d'intégrer des diagrammes en camembert afin de représenter la répartition d'une donnée dans un secteur spécifique. Par exemple, cela pourrait permettre de visualiser l'investissement d'un organisme dans différents domaines.
          </div>
     </div>

     <div class="section">
          <h2>Utilisation du site dans la pratique</h2>
          <div class="section">
               <ol>
                    <li>Sélectionnez la catégorie de données souhaitée dans le menu déroulant (ex. : ...).</li>
                    <li>Choisissez le type de graphique souhaité (ex. : courbe).</li>
                    <li>Cochez les cases associées au type de graphique sélectionné dans l'onglet correspondant.</li>
                    <li>Cliquez sur le bouton <em>Générer</em>.</li>
               </ol>
     
               <p><strong>Attention :</strong> Si vous souhaitez modifier le type de graphique, rechargez la page ou assurez-vous de réinitialiser correctement les options sélectionnées.</p>
          </div>
     </div>
</main>


</html>